[viewBag]
==
<!-- START #ex-footer -->
<div id="#ex-footer" class="darkbluebg">
        <div class="container">
            <div class="row">
                <nav class="col-md-12">
                    <ul class="footer-menu">
                        <li>
                            <a href="/">ホーム</a>
                        </li>
                        <li>
                            <a href="/services">サービス</a>
                        </li>
                        <li>
                            <a href="/category/companies">企業一覧</a>
                        </li>
                        <li>
                            <a href="/category/blogs">オフショア開発記事</a>
                        </li>
                        <li>
                            <a href="/contact">問い合わせ</a>
                        </li>
                        <li class="last-item">
                            <a href="/about-us">運用会社</a>
                        </li>
                    </ul>
                </nav>

                <div class="foot-boxs">
                    <div class="foot-box col-md-6 col-sm-6 text-right">
                         <span class="">&copy; 2018 https://www.offshorehub.jp All Rights Reserved.</span>
                    </div>
                    <div class="foot-box col-md-6 col-sm-6">
                        <span class="contact-email">info@offshorehub.jp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END #ex-footer -->
</footer>
<!-- END footer -->
