[viewBag]
==
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<h1 style="color: red; text-align: center;">OffshoreHubの利用流れ</h1>

			<ul class="list-style list-style4 list-style-box">
				<li>OffshoreHub.jpのフォームにて見積もり依頼の送信を頂きます</li>
				<li>OffshoreHubにて見積もり依頼内容を確認いたします。その後、弊社スタッフより御社に、見積もり依頼内容を確認させていただきます。</li>
				<li>弊社でお見積を行います。御社にご提案致します。よければ、御社に伺いフェイストーフェイスでご説明致します。</li>
				<li>お客様は見積もりをご確認して頂きます。</li>
				<li>認識相違項目が御座いましたらお互いに調整する。問題がなければ、契約を結んで案件開発を開始する。</li>
			</ul>
		</div>
	</div>
	<div class="row" style="text-align: center;"><span align="center" style="width: 100%; font-size: 20px; text-align: center;">電話でお問い合わせはこちらまで <span style="color: red; font-weight: bold;">050-3627-8910</span></span>
		<div align="center">
			<a href="/contact"><img style="width: 40%; padding-top:1%;padding-bottom:10%" src="/storage/app/media/contact_blue2.png" class="fr-fic fr-dib"></a>
		</div>
	</div>
</div>