title = "home"
url = "/"
layout = "default"
description = "ベトナムオフショア開発"
meta_title = "ベトナムオフショア開発"
meta_description = "DevSamurai株式会社のオフショア開発サービスです。ベトナムオフショア開発を検討しているならご連絡下さい。
ベトナムオフショア開発ならOffshoreHub"
is_hidden = 0
seo_keywords = "ベトナムオフショア開発"
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "blogs"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[testimonials]

[randomPhotos]
photosCount = 8
cacheLifetime = 0
thumbMode = "auto"
thumbWidth = 1200
thumbHeight = 575
photoPage = "blog/post"

[faq]
slug = "home-faqs"

[blogPosts companiesList]
pageNumber = "{{ :page }}"
categoryFilter = "companies"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[SeoCmsPage]
==
<!-- <div class="container-fluid"> -->
<div class="container-fluid">
    <div class="row" style="margin:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding:0px; position:relative;">
            <img class="img-responsive" style="width:100%;" src="/storage/app/media/OH-banner1.png">
            <div style="position:absolute; z-index:1; top:0px; padding-top:25%; left:17%; width:20%;" >
            <a href="/contact">
            <img style="width:100%;" src="/storage/app/media/contact_blue2_dark.png" onmouseover="this.src='/storage/app/media/contact_blue2.png';" onmouseout="this.src='/storage/app/media/contact_blue2_dark.png';">
            </a>
            </div>
        </div>
    </div>
</div> 

<!-- START .main-contents -->
<div class="main-contents">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 text-center core-item">
                <div class="core-item-1">
                    <img align="left" style="width:20%;margin-left:auto;margin-right:auto;" src="/storage/app/media/quality.png">
                    <div class="core-item-content" style="width:80%;">
                        <label class="text-highlight">信頼 & 品質</label>
                        <div class="desc">
                            信頼があることと品質を守る会社を紹介する     
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 text-center core-item">
                <div class="core-item-2">
                    <img align="left" style="width:20%;margin-left:auto;margin-right:auto;" src="/storage/app/media/time.png">
                    <div class="core-item-content" style="width:80%">             
                        <label class="text-highlight">納期期限厳守</label>
                        <div class="desc">
                            日本企業の期限を考える方を意識して、納期期限を厳守する
                        </div>
                    </div>
               </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-4 core-item core-item-last">
                <div class="core-item-3">
                    <img align="left" style="width:20%;margin-left:auto;margin-right:auto;" src="/storage/app/media/cost.png">
                    <div class="core-item-content" style="width:80%">
                        <label class="text-highlight">開発費用削減</label>
                        <div class="desc">
                            国内委託より開発費用を削減することができます。
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- END .main-contents -->


<div class="main-contents black-contents bluebg">
    <!-- <div class="container-fluid black-contents bluebg"> -->
        <h2 class="ft-heading">オフショアハブの<span>スペシャルティ</span></h2>
        <div class="row" style="margin:0px;">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img style="display:block; width:70%;margin-left:auto;margin-right:auto;" src="/storage/app/media/web-mobile-app.png">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div style="color: #ffffff">
                <h3>Webアプリ開発</h3>
                <div>ECサイト、SNS連動システム、業務システム構築など、複数のWebシステム開発実績があります。スクラッチから、<br/>CMSや既存システムのカスタマイズまで幅広く対応可能です。</div>
                <span><a class="btn btn-info" href="/services" style="margin-top: 10px;">詳細はこちら</a></span>
                </div>
                
                <div style="color: #ffffff;margin-top:5%;margin-bottom:15%">
                <h3>モバイルアプリ開発</h3>
                <div>iPhoneやiPad、Android端末など用のアプリの開発を行います。デバイスや OS に対応のネイティブアプリから、<br/>ハイブリッドアプリまで、あらゆるアプリタイプを対応致します。</div>
                <span><a class="btn btn-info" href="/services" style="margin-top: 10px;">詳細はこちら</a></span>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

<!-- START .main-contents .bom-contents -->
<div class="main-contents">
    <div class="container">
        <div class="row why-us">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2 class="ft-heading ft-heading-left">なぜ<span>ベトナムオフショア開発?</span></h2>
                <ul class="list-unstyled">
                    <li><h4 class="text-highlight"><i class="fa fa-hand-o-right" aria-hidden="true"></i>人材豊富</h4></li>
                    <li>IT分野の優秀人材がある</li>
                    <li><h4 class="text-highlight" style="margin-top:25px;"><i class="fa fa-hand-o-right" aria-hidden="true"></i>信頼＆品質</h4></li>
                    <li>日本企業と付き合い期間長いため、信頼と品質を重視することを常に意思する</li>
                    <li><h4 class="text-highlight" style="margin-top:25px;"><i class="fa fa-hand-o-right" aria-hidden="true"></i>開発費用</h4></li>
                    <li>案件種類によりであるが、国内委託より開発費用のとたるを30％〜50％までの削減できることを提案</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom:10%">
                <h2 class="ft-heading ft-heading-left">FAQ<span>s</span></h2>
                <div class="panel-group accordion-home" id="accordion">
                {% for i, item in faq.questions %}
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
                                {{ item.question }}
                            </a>
                        </div>
                        <div id="collapse{{i}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% if item.details %}
                                    <h3>質問</h3>
                                    <p>
                                        {{ item.details|raw }}
                                    </p>
                                {% endif %}
                                <h3>回答</h3>
                                <p>
                                    {{ item.answer|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END .main-contents .bom-contents -->

<div class="main-contents black-contents offshore-model rainbowbg">
    <div class="container">
        <h2 class="ft-heading">オフショア開発の<span>適切モデル</span></h2>
        
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>   
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/storage/app/media/offshore-bse.png" alt="First Slide">
                    </div>
                    <div class="item">
                        <img src="/storage/app/media/offshore-onsite-bse.png" alt="Second Slide">
                    </div>
                    <div class="item">
                        <img src="/storage/app/media/offshore-customer.png" alt="Third Slide">
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>


{% set posts = blogPosts.posts %}
<div class="main-contents">
    <div class="container">
        <h2 class="ft-heading"><span>オフショア開発記事</span>
            <p class="text-center ft-heading-short">実際経験された方からの記事</p>
        </h2>
        
        <div class="row" style="text-align:center;">
        {% for post in posts %}
            <div class="col-md-4 col-sm-6 col-sx-12" style="display: inline-block">
                <div class="post-data" style="height:400px;max-width:350px;text-align:left;">
                    <div class="plan-image">
                        {% if post.featured_images.count %}
                        <a href="{{ post.url }}">
                            <img class="img-responsive" data-src="{{ post.featured_images[0].filename }}" src="{{ post.featured_images[0].path }}" alt="{{ post.featured_images[0].description }}">
                        </a>
                        {% else %}
                        <a href="{{ post.url }}">
                                <img  src="{{'assets/images/no-image.png'|theme}}" alt="{{ post.title }}">
                            </a>
                    {% endif %}
                    </div>
                
                    <div class="post-desc">
                        <h4>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h4>
                        {{ html_limit(post.excerpt,200)|raw }}
                    </div>
                </div>
            </div>
     {% else %}
        <div class="no-data">{{ noPostsMessage }}</div>
    {% endfor %}
        </div>
    </div>
    <center><a class="btn btn-primary btn-lg" href="/category/blogs" role="button">もっと見る</a></center>
</div>


<script type="text/javascript ">
    $(document).ready(function () {
        // revolution slider
        revapi = $("#content-slider ").revolution({
            delay: 15000,
            startwidth: 1170,
            startheight: 450,
            hideThumbs: 10,
            fullWidth: "on ",
            fullScreen: "off ",
            fullScreenOffsetContainer: " ",
            navigationVOffset: 40
        });

       });
</script>